@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Evita que el canvas capture clics */
canvas {
  pointer-events: none;
}